#hw2 {
    background-color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 100%;
}

/* Header */

h1 {
    background-color: purple;
    color : white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    padding: 10px 0;
    margin: 0;
    font-size: 2rem;
}

.fixed-title-bar {
    height: 70px;
}

/* Nav */

.outer
{
    width:100%;
    text-align: center;
    padding: 0;
}

.inner
{
    display: inline-block;
    width: 20%;
    background-color: grey;
}

/* Main */

.images-title {
    display: none;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.images img {
    width: 100%;
    height: 340px;
}

.feedback {
    position: relative;
    bottom: 18.4px;
    background-color: #521751;
    color: white;
    text-align: center;
    margin: 0;
}

/* Footer */

.comment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
}

.comment img {
    width: 120px;
    border-radius: 50%;
}

.comment p {
    width: 350px;
    text-align: center;
}

/* Others */

@media (min-width: 400px) {
    .inner {
        font-size: 1.2rem;
    }
}

@media (min-width: 700px) {
    .images img {
        width: 50%;
    }

    .images-title {
        background-color: #fa923f;
        padding: 0;
        display: flex;
    }

    .images-title p {
        background-color: #521751;
        color: white;
        text-align: center;
        margin: 0;
        width: 50%;
    }
}